<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS Link -->
    <link rel="stylesheet" href="static/style.css" />
    <title>EmBot</title>
  </head>
  <body>
    <span id="left-side-name">Noel</span>
    <span id="right-side-name">Emmanuel</span>
    <div class="main-container" align="center">
      <h1>EmBot</h1>
      <!-- <div align="center"> -->
      <table>
        <tr>
          <td >


      <form action="/add_account" align="center" method="post">
        <div class="input">
            <div class="input-upper-text">Enter details to add account</div>
            <br>
          <input type="email" name="gmail" placeholder="Enter Gmail Address" required>
            <!-- <div class="input-upper-text">Password</div> -->
          <input type="password" name="password" placeholder="Enter your Gmail Password" required>
        </div>
        <input type="submit" id="button" value="submit" />
      </form>

    <!-- </td>
    <td> -->
      <br>
       <br> 
      <form action="#" align="center">
        <div class="input">
            <div class="input-upper-text">Change the timing here <br> <br> Check-in Time</div>
          <input type="time" placeholder="Check-in Time"/>
            <div class="input-upper-text">Check-out Time</div>
          <input type="time" placeholder="Check-out Time"/>
        </div>
        <input type="submit" id="button" value="submit" />
      </form>
    </td>

    </tr>
    </table>
  </div>
    <!-- </div> -->
  </body>
</html>
